<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Strona Główna</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>🎓 System Rezerwacji Sal</h1>

    <div class="menu">
      <a href="/budynki" class="btn-tile">🏢 Budynki</a>
      <a href="/sale" class="btn-tile">🏫 Sale</a>
      <a href="/role" class="btn-tile">🔐 Role</a>
      <a href="/przedmioty" class="btn-tile">📘 Przedmioty</a>
      <a href="/uzytkownicy" class="btn-tile">👨‍🏫 Użytkownicy</a>
    </div>
  </div>
</body>
</html>
