<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Przedmioty</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Lista przedmiotów</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa przedmiotu</th>
                <th>Użytkownik</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for p in przedmioty %}
            <tr>
                <td>{{ p.id_przedmiotu }}</td>
                <td>{{ p.nazwa_przedmiotu }}</td>
                <td>{{ p.uzytkownik.imie }} {{ p.uzytkownik.nazwisko }}</td>
                <td>
                    <form action="{{ url_for('main.usun_przedmiot', id=p.id_przedmiotu) }}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Na pewno usunąć?')">Usuń</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Dodaj nowy przedmiot</h2>
    <form method="POST" action="{{ url_for('main.przedmioty') }}">
        <label for="nazwa_przedmiotu">Nazwa przedmiotu:</label>
        <input type="text" name="nazwa_przedmiotu" required><br>

        <label for="id_uzytkownika">Prowadzący:</label>
        <select name="id_uzytkownika" required>
            <option value="">-- Wybierz prowadzącego --</option>
            {% for u in uzytkownicy %}
                <option value="{{ u.id_uzytkownika }}">{{ u.imie }} {{ u.nazwisko }}</option>
            {% endfor %}
        </select>

        <button type="submit">Dodaj</button>
    </form>


    <br>
    <a href="/">Powrót do strony głównej</a>

    {% if err %}
        <script>alert("{{ err|e}}");</script>
    {% endif %}
</body>
</html>
