body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 40px;
}

/* Nagłówki */
h1, h2 {
    text-align: center;
    color: #2c3e50;
}

/* Tabela */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

th {
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-weight: bold;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Formularze */
form {
    width: 400px;
    margin: 30px auto;
    padding: 25px 50px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

/* Przyciski */
button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Przycisk Usuń */
td form {
    display: inline;
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
}

td form button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

td form button:hover {
    background-color: #2980b9;
}


/* Link powrotny */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
}



/* Styl kontenera strony głównej */
.container {
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
    
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

/* Kafelkowy wygląd przycisków */
.btn-tile {
    display: block;
    padding: 15px;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-tile:hover {
    background-color: #2980b9;
    transform: scale(1.03);
}
